<h1>任務列表</h1>
<%= link_to "新增任務", new_mission_path %></br>
<tr>
    <td>任務名稱</td>
    <td>任務內容</td>
</tr>
</br>
<% @missions.each do |mission| %>
<tr>
  <td><%= mission.title %></td>
  <td><%= mission.content %></td>
</tr>
<% end %>